.div1, .main_container {
  border: black solid 2px;
  width: 30%;
  text-align: center;
}

.main_container {
  height: 500px;
}

.sub_container {
  height: 250px;
}

.box1, .box3 {
  background-color: #49d3f5;
  height: 250px;
  width: 50%;
}

.box4, .box2 {
  background-color: #eed7ee;
  position: relative;
  left: 227px;
  bottom: 250px;
  height: 250px;
  width: 50%;
}

.box2 {
  background-color: #b7cbdf;
}

.box3 {
  background-color: #f0f0e3;
}

.child1, .child3, .child4 {
  background-color: #2020b6;
  margin-left: 100px;
  color: white;
  height: 50px;
  width: 25%;
}

.child2 {
  background-color: #f0f0e3;
  height: 180px;
  width: 80%;
  top: 10px;
  left: 20px;
  right: 20px;
  bottom: 15px;
  border: red solid 1px;
  position: absolute;
}

.child3 {
  position: relative;
  top: 180px;
}

.child4 {
  margin-left: 120px;
  margin: 80px 70px;
}
/*# sourceMappingURL=demo.css.map */