@mixin bordered($color, $width) {
  border: $color solid $width;
}
@mixin background($bgcolor){
    background-color: $bgcolor;
    $height:250px;
    $width:50%;
}
@mixin position($pos){
    position: $pos;
}

.div1 {
  @include bordered(black, 2px);
  width: 30%;
  text-align: center;
}
.main_container {
  @extend .div1;
  height: 500px;
}
.sub_container {
  height: 250px;
}
.box1 {
  @include background(#49d3f5);
}
.box4{
   @include background-color(rgb(238, 215, 238));
   @include position(relative);
    left: 227px;
    bottom: 250px;
    
  }
.box2 {
  background-color: rgb(183, 203, 223);
  @extend .box4;
}
.box3{
   @include background( #f0f0e3);
}
.child1{
        background-color: rgb(32, 32, 182);
        margin-left: 100px;
        color: white;
        height:50px;
        width:25%;

}
.child2{
    background-color: #f0f0e3;
    height: 180px;
    width: 80%;
    top: 10px;
    left: 20px;
    right: 20px;
    bottom: 15px;
    @include bordered(red, 1px);
    @include position(absolute);
}
.child3{
    @extend .child1;
    @include position(absolute);
    top: 180px;
}
.child4{
    @extend .child1;
    margin-left: 120px;
    margin:80px 70px;
    
}
