@mixin box($width,$line-height,$bgcolor){
    width:$width;
    line-height: $line-height;
    background-color: $bgcolor;
    text-align: center;
   
   
}
body {
  background-color: tan;
  color: black;
}
.div1 {
    border: 2px solid;
    width: 26%;
    text-align: center;
}
%div2_container {
  width: 26%;
  height: 200px;
  border: black 2px solid;
  display: flex;
}
.flex_conatiner1 {
  @extend %div2_container;
  background-color: rgb(247, 170, 29);
  display: flex;
  justify-content: space-around;
}
.flex_container2 {
  @extend %div2_container;
  flex-wrap: wrap;
  align-content: space-between;
  background-color: #f1f1f1;
}
.flex_container3 {
  @extend .flex_conatiner1;
  background-color: rgb(190, 233, 190);
}
.box1{
    margin: 50px 20px;
    text-align: center;
    font-size: 30px;
    background-color: #f1f1f1;
}
.box2{
    @include box(70px,60px, rgb(225, 234, 243));
    border: 2px solid rgb(192, 192, 235);
    height: 27%;
}
.box3{
    @include box(100px,75px, #f1f1f1);
    margin: 50px 25px;
}
.search {
    width: 70%;
    height: 35px;
    border: 2px solid;
}

.button {
    width: 40%;
    height: 35px;
    border-radius: 5px;
    border: 2px solid;
}