body {
  background-color: tan;
  color: black;
}

.div1 {
  border: 2px solid;
  width: 26%;
  text-align: center;
}

.flex_conatiner1, .flex_container3, .flex_container2 {
  width: 26%;
  height: 200px;
  border: black 2px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex_conatiner1, .flex_container3 {
  background-color: #f7aa1d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex_container2 {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  background-color: #f1f1f1;
}

.flex_container3 {
  background-color: #bee9be;
}

.box1 {
  margin: 50px 20px;
  text-align: center;
  font-size: 30px;
  background-color: #f1f1f1;
}

.box2 {
  width: 70px;
  line-height: 60px;
  background-color: #e1eaf3;
  text-align: center;
  border: 2px solid #c0c0eb;
  height: 27%;
}

.box3 {
  width: 100px;
  line-height: 75px;
  background-color: #f1f1f1;
  text-align: center;
  margin: 50px 25px;
}

.search {
  width: 70%;
  height: 35px;
  border: 2px solid;
}

.button {
  width: 40%;
  height: 35px;
  border-radius: 5px;
  border: 2px solid;
}
/*# sourceMappingURL=flex.css.map */