@for $i from 1 through 6{
    .a-#{$i}{
      color: darken($color:pink, $amount: $i * 5);
    }

}
@for $i from 1 through 6{
  .b-#{$i}{
    color: darken($color:rgb(235, 209, 209), $amount: $i * 5);
  }

}
@for $i from 1 through 5{
  .c-#{$i}{
      color: darken($color:rgb(175, 104, 104), $amount: $i * 5);
  }
}
@for $i from 1 through 6{
  .d-#{$i}{
    color: darken($color:red, $amount: $i * 5);
  }

}
.space{
    padding-bottom: 100px;
}