.a-1 {
  color: #ffa7b6;
}

.a-2 {
  color: #ff8da1;
}

.a-3 {
  color: #ff748c;
}

.a-4 {
  color: #ff5a77;
}

.a-5 {
  color: #ff4162;
}

.a-6 {
  color: #ff274d;
}

.b-1 {
  color: #e3bfbf;
}

.b-2 {
  color: #dcadad;
}

.b-3 {
  color: #d49c9c;
}

.b-4 {
  color: #cc8a8a;
}

.b-5 {
  color: #c47878;
}

.b-6 {
  color: #bd6666;
}

.c-1 {
  color: #a65858;
}

.c-2 {
  color: #954f4f;
}

.c-3 {
  color: #844646;
}

.c-4 {
  color: #743d3d;
}

.c-5 {
  color: #633434;
}

.d-1 {
  color: #e60000;
}

.d-2 {
  color: #cc0000;
}

.d-3 {
  color: #b30000;
}

.d-4 {
  color: #990000;
}

.d-5 {
  color: maroon;
}

.d-6 {
  color: #660000;
}

.space {
  padding-bottom: 100px;
}

body {
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: -0.01em;
  font-size: 1.22rem;
  font-family: HKGroteskPro,serif;
  color: #161c2d;
}

h1 {
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: -0.02em;
  margin-bottom: 1rem;
  display: block;
  -webkit-margin-before: 0.83em;
          margin-block-start: 0.83em;
  -webkit-margin-after: 0.83em;
          margin-block-end: 0.83em;
}

.fa-check-circle {
  color: aquamarine;
}

.size {
  font-size: large;
  line-height: 1.7;
}

.h2 {
  font-size: 35px;
}

p {
  letter-spacing: -.01px;
}

.color2 {
  background-color: #F1F4F8;
}

.font {
  font-size: 1.2rem;
  letter-spacing: -0.12em;
}

.btn-blue {
  background-color: blue;
}

.ptt {
  padding-bottom: 80px;
  padding-top: 80px;
  margin-bottom: 70px;
}

.f-size {
  font-size: 1.5rem;
}

li {
  font-size: medium;
}

.color1 {
  background-color: #F9FBFD;
}

#grad3 {
  background-color: #F1F4F8;
  /* For browsers that do not support gradients */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(80%, #F1F4F8), color-stop(30%, #343A40));
  background-image: linear-gradient(#F1F4F8 80%, #343A40 30%);
  /* Standard syntax (must be last) */
}

#grad2 {
  background-color: #F9FBFD;
  /* For browsers that do not support gradients */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(70%, #F9FBFD), color-stop(20%, white), color-stop(50%, #F1F4F8));
  background-image: linear-gradient(#F9FBFD 70%, white 20%, #F1F4F8 50%);
  /* Standard syntax (must be last) */
}

.caroul {
  background-color: black;
  color: #F1F4F8;
}

.btn-color {
  background-color: #E7EEFD;
}

.carousel1 {
  width: 540px;
  height: 350px;
}

.icon-caroul {
  width: 40px;
  height: 40px;
}
/*# sourceMappingURL=design3.css.map */