p {
    color: #9BA4AE;
    font-weight: 600;
  }

  li {
   
    font-size: small;
  }

  .fa-facebook {
    background: white;
    color: #3B5998;
  }

  .fa-twitter {
    background: white;
    color: #3B5998;
  }

  .fa-instagram {
    background: white;
    color: #3B5998;
  }
  
  @media screen and(min-width: 768px) {
    li{
    padding-left: 50px;
     font-size: medium;
    }
  }