@import "footer";
@mixin body($weight,$lineheight,$letterspace)
{
   
   font-weight: $weight;
    line-height: $lineheight;
    letter-spacing: $letterspace;
}
@mixin font($size)
{
    font-size: $size;
}
@mixin color($color) {
    color: $color;
}

$color1:#F9FBFD;
$color2:#F1F4F8;
$val:40px;

body{
    @include body( 400,1.6,-.01em);
    @include font(1.22rem);
    font-family: HKGroteskPro,serif;
    @include color( #161c2d);
}
h1{
    @include body(300,1.2,-.02em);
    margin-bottom: 1rem;
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}
.fa-check-circle{
    @include color(aquamarine);
}
.size{
    font-size: large;
    line-height: 1.7;
}
.h2{
    font-size:35px;
}
p{
    letter-spacing: -.01px;
    
}
.color2{
    background-color:$color2;
}
.font{
    font-size: 1.2rem;
    letter-spacing: -0.12em;

}
.btn-blue{
    background-color: blue;
}
.ptt{
    padding-bottom: 80px;
    padding-top: 80px;
    margin-bottom: 70px;
}
.f-size{
    font-size: 1.5rem;
}
li{
    font-size: medium;
}
.color1{
    background-color:$color1;
}
#grad3 {

    background-color: $color2; /* For browsers that do not support gradients */
    background-image: linear-gradient($color2 80%,#343A40 30%); /* Standard syntax (must be last) */
  }
  #grad2 {
   
    background-color:$color1; /* For browsers that do not support gradients */
    background-image: linear-gradient($color1 70%, white 20%,#F1F4F8 50%); /* Standard syntax (must be last) */
  }
  .caroul{
      background-color: black;
      color:$color2 ;
  }
 
  .btn-color{
      background-color: #E7EEFD;
  }
  .carousel1{
      width: 540px;
      height: 350px;
  }
  .icon-caroul{
      width: $val;
      height: $val;
  }
  