
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  color: black;
}
.header {
  padding: 20px;
  text-align: center;
  background: rgb(107, 104, 104);
  color: rgb(29, 26, 26);
}
.row{  
  display: flex;
  flex-wrap: wrap;
}
.side {
  flex: 30%;
  background-color: black;
  padding: 110px;
  color: #ddd;
  ;
}

.content {
  flex: 70%;
  background-color:rgb(230, 222, 222);
  padding: 110px;
}
.img{
    background-color: blanchedalmond;
    width:60%;
    padding:20px;
}
.footer{
  background: rgb(107, 104, 104);
  padding: 50px;
}
@media screen and (max-width: 700px) {
  .row{   
    flex-direction: column;
  }
}